# UNAH
## Facultad de Ingenieria
## Carrera de Ingenieria en sistemas
### Clase: Inteligencia Artificial

*Prueba*

In [1]:
import pandas as pd
import numpy as np

Segun el siguiente Dataset:

In [6]:
pd_vector = pd.DataFrame( { "num" : range(1,101) } )

In [7]:
pd_vector

    num
0     1
1     2
2     3
3     4
4     5
..  ...
95   96
96   97
97   98
98   99
99  100

[100 rows x 1 columns]

Y segun los siguientes metodos de numpy

In [12]:
np.var( pd_vector["num"] ) ## Calcula la varianza

833.25

In [15]:
np.std( pd_vector["num"] ) ## Calcula la desviacion estandard

28.86607004772212

## Responda las siguientes ejercicios

1. Grafique el Boxplot del vector "num"

2. Calcule la varianza y desviacion estandard de cada uno de los quartiles

Nota: realice manual la divicion del dataset para obtener cada uno de quartiles, al final obtendra cuatro dataframes

3. Explique la respuesta que obtuvo en el ejercicio dos, recuerde que se puede apoyar del grafico del ejercicio uno para hacer referencias sobre distribucion en caso de que sea necesario.